<h1>Create a New Landmark</h1>
<form method="post" action="/landmarks">
  <h1>Landmark Name:</h1>
  <input type="text" name="landmark[name]" id="landmark_name">

  <h1>Landmark Year Completed:</h1>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">

  <input type="submit" name="submit" value="Create Landmark">
</form>
